@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    background: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding: 16px 128px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 64px 128px 96px 128px;
    align-items: center;
    gap: 32px;
}

.website {
    flex: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.desc {
    font-size: 18px;
    color: #E5E7EB;
}

.img {
    display: flex;
    flex: 100%;
    background-color: #6E747C;
    justify-content: center;
    align-items: center;
    padding: 16px;
    flex: none;
    width: 400px;
    height: 200px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 4px 16px;
    border: none;
    color: #F9FAF8;
    border-radius: 5px;
    width: 85px;
    flex: none;
    font-weight: 700;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 48px;
    padding: 32px 128px 128px 128px;
    justify-content: stretch;

}

.info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.outline {
    width: 150px;
    height: 150px;
    outline-style: solid;
    outline-color: #3882F6;
    outline-width: 3px;
    border-radius: 8px;
}

.subtext {
    color: #6E747C;
    width: 150px;
}